<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NamelistFileCopier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NamelistFileCopier.Properties.Settings>
            <setting name="SourceExt" serializeAs="String">
                <value>JPG</value>
            </setting>
            <setting name="AsExt" serializeAs="String">
                <value>NEF</value>
            </setting>
        </NamelistFileCopier.Properties.Settings>
    </userSettings>
</configuration>